body {
}
header {
	background-color: cyan;
	text-align: center;
	font-size: 30px;
	margin-top: 0px;
	padding: 20px;
}

footer {
	background-color: azure;
	font-size: 20px;
	margin-top: 0px;
}

nav {
	background-color: darksalmon;
	overflow: hidden;
}

	nav li {
		list-style-type: none;
		padding: 0px;
	}

		nav li a {
			float: left;
			padding-left: 15px;
		}

	nav ul li ul li {
		display: block;
		position:absolute;
	}


a:hover {
	background-color: darkgrey;
	color: black;
	text-decoration: dotted;
}
